body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

form {
  text-align: center;
  margin-top: 20px;
}

#wordLine {
  text-align: center;
  font-size: 25px;
  letter-spacing: 10px;
  margin-top: 10px;
}

input[type="text"] {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid grey;
}

button[type="button"] {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.picture {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.picture img {
  height: 300px;
  width: 300px;
}
